{% extends "base.html" %}
{% load static %}

{% block title %}Research{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/research.css' %}">
{% endblock %}

{% block header_img %}{% static "img/img6.webp" %}{% endblock %}

{% block header_content %}
  <div class="container-custom">
    <h1 class="slogan">Research</h1>
  </div>
{% endblock %}

{% block content %}

    <!--Research-->
    <div class="container-fluid text-center px-5 py-4">

      <div class="row justify-content-start my-5">
        <div class="col-4">
          <h3 style="color:#78B721;">
            CIE's scientific areas:
          </h3>
        </div>
      </div>
    

      <div class="container" id="customContainer"> 
        {% for area in areas %}

          <a href="/lineResearch/{{ area.id }}" class="card-link">

            <div class="card customCard" id="area-{{ area.id }}">
              <img src="{{ area.portada.url }}" alt="{{ area.nombre }} img">

              <div class="intro">
                <h1>{{ area.nombre }}</h1>
                <p>{{ area.fragmento }}</p>
              </div>
            </div>

          </a>

        {% endfor %}
      </div>



    </div>
      
    <hr style="color: #3A7DA4;" class="mx-5" >
 

    <br><br><br><br>


    <script>
      document.addEventListener("DOMContentLoaded", function() {
          const hash = window.location.hash; // Captura el #area-X
          if (hash) {
              const targetCard = document.querySelector(hash);
              if (targetCard) {
                  // Aplicamos la clase que "imita" el hover de research.css
                  targetCard.classList.add('card-active');
                  
                  // Bajamos suavemente hasta la tarjeta
                  setTimeout(() => {
                      targetCard.scrollIntoView({ behavior: 'smooth', block: 'center' });
                  }, 500);
              }
          }
      });
    </script>
{% endblock %}

