{% extends "base.html" %}
{% load static %}

{% block title %}News{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock %}

{% block header_img %}{% static "img/img9.webp" %}{% endblock %}

{% block header_content %}
  <div class="container-custom">
    <h1 class="slogan">News</h1>
  </div>
{% endblock %}

{% block content %}
    <!--Listado de noticias-->
    <div class="container-fluid text-center mt-5">

      <!--Forms-->
            <div class="container mb-5">
                <form method="GET" class="row g-2 align-items-end bg-light p-3 rounded shadow-sm border">
                    
                    <div class="col-md-6">
                        <label class="form-label fw-bold text-secondary small">Search News</label>
                        <div class="input-group">
                            <span class="input-group-text bg-white border-end-0">
                                <i class="bi bi-search text-muted"></i>
                            </span>
                            <input type="text" name="q" value="{{ request.GET.q|default:'' }}" 
                                  class="form-control border-start-0 shadow-none" 
                                  placeholder="Title, description...">
                        </div>
                    </div>

                    <div class="col-md-2 d-grid">
                        <button type="submit" class="btn btn-primary fw-bold">
                            Filter
                        </button>
                    </div>
                </form>
            </div>

      <!--Listado-->
      <div class="row justify-content-evenly p-5">

        {% for new in news %}
        
        <div class="card my-3" style="width: 17rem; ">
          <div style="background-image:url('{{ new.portada.url }}'); background-size: cover; background-position: center; min-height:10rem;" class="card-img-top" alt="Portada de la noticia"></div>


          <div class="card-header text-body-secondary fw-lighter fst-italic"> {{new.fecha}} </div>

          <div class="card-body" style="text-align: left;">

            <h5 class="card-title"> {{new.encabezado}} </h5>
            <hr>
            <p class="card-text"> {{new.subtitulo}} </p>
            <a href="/news/{{new.id}}" class="card-link">Read more...</a>

          </div>

      
        </div> 
        
        {% endfor %}     

        

      </div>

    </div>
 

    <br><br><br><br>
{% endblock %}

